/* mobile.css */


@import url(./style.css);
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');




/* hedaer */ 


header { 
    width: 100%;
    height: 100px;
    /* outline: 1px solid tan; */
}

header nav { 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav a { 
    font-size: 24px;
    /* outline: 1px solid red; */
}

header nav a:hover { 
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px 20px;
}


.logoImg {
    display: none;
}



/* MAIN */


main { 
    text-align: center;
    margin-bottom: 100px;
}


.profile { 
    width: 100%;
    height:calc(70vh - 100px);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(../images/profile.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; */
}

.profile h1 { 
    font-family: 'Lobster', 'cursive';
    font-size: 100px;
    /* transform: translate(0%, 100%); */
    letter-spacing: 0.05em;
}

.info { 
    margin-top: 40px;
    
}

.info p { 
    font-family: 'Inter';
    font-size: 24px;
    line-height: 150%;
}

.info .phone:hover a { 
    color: #0071e3;
}

.info .e-mail:hover a { 
    color: #03c75a;
}



#main-info { 
    margin-top: 100px;
}

#main-info div { 
    margin-bottom: 100px;
}

#main-info ul { 
    height: 100%;
    /* outline: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


#main-info h2 { 
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 50px;
    -webkit-text-stroke: 0.5px white;
    color: transparent;
}

#main-info li {
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 20px;
}


#main-info li span { 
    font-size: 24px;
    font-weight: bold;
}

.edc > ul > li  {
    width: 16em; 
}

.lc > ul > li { 
    width: 14em; 
}

#main-info .tool  { 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}




#main-info .tool > ul {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 20px; */
    text-align: center;
    /* outline: 1px solid tan; */
}


#main-info .tool > ul > li{ 
   margin-bottom: 0;
   width: 33.33%;
}




/* backtotop */



#back-to-top { 
    /* outline: 1px solid red; */
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1;
    opacity: 0.5;
    text-align: right;
}

#back-to-top  i { 
    font-size: 50px;
}

#back-to-top:hover {
    opacity: 1;
  }



