/* mobile.css */


@import url(./style.css);

/* hedaer */ 


header { 
    width: 100%;
    height: 100px;
    /* outline: 1px solid tan; */
}

header nav { 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav a { 
    font-size: 24px;
    /* outline: 1px solid red; */
}

header nav a:hover { 
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px 20px;
}


.logoImg {
    display: none;
}


main { 
    width: 100%;
    height: calc(100vh - 100px);
    overflow: hidden;
}

#archive { 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   


#archive .col { 
    width: 100%;
    height: 50vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#archive .col a {
    font-family: 'Wagon', serif;
    font-weight: 700;
    font-size: 5vw;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}



#archive div.col:nth-child(1) a{ 
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/archive-col1.jpg) ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  
}

#archive div.col:nth-child(2) a{ 
    background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/archive-col2.jpg);
    background-size: 140%;
    background-position:center 100%;
    background-repeat: no-repeat;
  
}
#archive div.col:nth-child(3) a{ 
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/archive-col3.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
  

#archive .col:hover a {
    filter: brightness(150%);
}