* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a { 
    display: block;
    text-decoration: none;
}

ul { 
    list-style: none;
}



header { 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px ;
}

header nav a { 
    font-size: 24px;
}



header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
}


.logoImg {
    width: 100%;
    height: 100%;
    animation: rotate_image 8s linear infinite;
    transform-origin: 50% 50%;

}

@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}



section { 
    width: 80vw;
    margin: 0 auto;
}

section img { 
    width: 80vw;
   
}



/* backtotop */



#back-to-top { 
    /* outline: 1px solid red; */
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1;
    opacity: 0.5;
    text-align: right;
}

#back-to-top  i { 
    font-size: 50px;
}

#back-to-top:hover {
    opacity: 1;
  }

