* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a { 
    display: block;
    text-decoration: none;
}

ul { 
    list-style: none;
}



header { 
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}

header nav a { 
    font-size: 50px;
    margin-right: 60px;
    /* outline: 1px solid red; */
    padding: 20px ;
}


header .logo { 
    height: 50%;
}




.logoImg {
    animation: rotate_image 8s linear infinite;
    transform-origin: 50% 50%;

}

@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}



section { 
    width: 80vw;
    margin: 0 auto;
}

section img { 
    width: 80vw;
   
}




/* backtotop */

#back-to-top { 
    position: fixed;
    bottom: 60px;
    right: 100px;
    z-index: 1;
    opacity: 0.5;
}


#back-to-top  i { 
    font-size: 60px;
}
#back-to-top  i.on { 
    color: #000;
}


#back-to-top:hover {
    opacity: 1;
  }
