/* pc.css */


@import url(./style.css);
@font-face {
    font-family: 'HalisGR';
    src: url(../font/Ahmet\ Altun\ -\ HalisGR-Medium.otf);
}

/* hedaer */ 


header { 
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}

header nav a { 
    font-size: 30px;
    margin-right: 60px;
    /* outline: 1px solid red; */
    padding: 20px ;
}

header nav a:hover { 
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px 20px;
}

header .logo { 
    height: 50%;
}




.logoImg {
    animation: rotate_image 8s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}

.mainText h1 { 
    font-family: 'Inter';
    font-weight: 400;
    font-size: 100px;
}

.mainText h2 { 
    font-weight: 400;
    font-size: 80px;

}

.arrowImg { 
    width: 100%;
    margin-top:  170px;
    text-align: center;
}

#intro { 
    margin-top: 160px;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 200px;
  
}




/* main  */

.col { 
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    /* align-items: center; */
    padding: 0 60px;
    margin-bottom: 130px;
    /* background: #ccc; */
}

.col:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
}

.col a { 
    position: relative;
    width: 100%;
    height: 100%;
}

.col .mainimg { 
    width: 45vw;
    height: 100%;
    transition: all 0.5s;

    
}

.col .add { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}



.col .colText  { 
    width: 100%;
    /* outline: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */

}


/* col btn */


.workBtn  {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
}


.workBtn a { 
    padding: 30px 0;
    border: 1px solid #fff;
    border-radius: 50px;
    font-size: 24px;
    text-align: center;
    transition: all 1s;
    text-align: center;
}

.workBtn .aboutWork{
    margin-right: 30px;
}


.workBtn a:hover { 
    background: #fff;
    color: #000;
    font-weight: 600;
    letter-spacing: 20px;
    border-radius: 0;
}






.col .colText h3 { 
    font-weight: 400;
    font-size: 70px;
    padding-bottom: 10px;
}

.col .colText p { 
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-size: 30px;
}

.col:nth-child(1) .colText h3 { 
     font-family: 'HalisGR', sans-serif;
}

.col:nth-child(2) .colText h3 { 
    font-family: 'Emblema One', 'cursive';
}

.col:nth-child(3) .colText h3 { 
    font-family: 'Abril Fatface', 'cursive';
}

.col:nth-child(4) .colText h3 { 
    font-family: 'Montserrat', sans-serif;
}

.col:nth-child(5) .colText h3 { 
    font-family: 'Racing Sans One', 'cursive';
}

/* col hover */

.col a:hover .mainimg { 
    filter: brightness(30%);
}

.col a:hover .add{ 
    opacity: 1;
}








/* footer */

footer { 
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




#card-wrap {
    width: 900px;
    height: 500px;
    cursor: pointer;

}


#card-wrap div {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

 
/*Transform*/

#card-wrap {
    transition: -webkit-transform 1s ease-in;
    -webkit-transform-style: preserve-3d;
}

#card-wrap div {
    position: absolute;
    -webkit-backface-visibility: hidden;
}

.card-A {
    z-index: 100;
}

.card-A  img { 
    width: 250px;
}

.card-B {
    transform: rotateY(-180deg);
    display: flex;

}

#card-wrap:hover {
    transform: rotateY(-.5turn);
}

.card-B li { 
    padding: 20px;
}

.card-B li:hover {
   opacity: 0.5;

}

.card-B a { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    text-align: center;
}


.card-B span {
    padding-left: 20px;
    text-align: center;
}












/* backtotop */

#back-to-top { 
    position: fixed;
    bottom: 60px;
    right: 100px;
    z-index: 1;
    opacity: 0.5;
}


#back-to-top:hover {
    opacity: 1;
  }

