@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Sans+KR&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Emblema+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');


/* 호버이미지 넣기 */
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

@font-face {
    font-family: 'HalisGR';
    src: url(../Ahmet\ Altun\ -\ HalisGR-Medium.otf);
  }
  

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul { 
    list-style: none;
}

a { 
    text-decoration: none;
    color: #fff;
}


body { 
    background: #000;
    color: #fff;
    font-family: 'Inter', sans-serif;
    /* font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Poppins', sans-serif; */
}

/* hedaer */ 

header { 
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}

header nav a { 
    font-size: 30px;
    margin-right: 60px;
    /* outline: 1px solid red; */
    padding: 20px ;
}

header nav a:hover { 
    background-image: url(../images/hoverImg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

header .logo { 
    height: 50%;
}




.logoImg {
    animation: rotate_image 8s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}


.mainText { 
    margin-top: 160px;
    padding-left: 60px;
    padding-right: 60px;
}

.mainText h1 { 
    font-family: 'Inter';
    font-weight: 400;
    font-size: 100px;
}

.mainText h2 { 
    font-weight: 400;
    font-size: 80px;

}

.arrowImg { 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top:  170px;
    margin-bottom: 200px;
}

/* main  */

.col { 
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 60px;
    margin-bottom: 130px;
    /* background: #ccc; */
}

.col:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
}

.col img { 
    width: 45vw;
    height: 100%;
}


.col .colText { 
    width: 100%;
    height: 100%;
}


.col .colText h3 { 
    font-weight: 400;
    font-size: 70px;
    padding-bottom: 10px;
}

.col .colText p { 
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-size: 30px;
}

.col:nth-child(1) .colText h3 { 
    font-family: 'HalisGR';
}

.col:nth-child(2) .colText h3 { 
    font-family: 'Emblema One', 'cursive';
}

.col:nth-child(3) .colText h3 { 
    font-family: 'Abril Fatface', 'cursive';
}

.col:nth-child(4) .colText h3 { 
    font-family: 'Montserrat', sans-serif;
}

.col:nth-child(5) .colText h3 { 
    font-family: 'Racing Sans One', 'cursive';
}


.top { 
  width: 100%;
  margin-bottom: 130px;
  text-align: right;
  padding-right: 60px;



}

.top span { 
    font-size: 30px;
    border-bottom: 3px solid #fff;
}
