/* mobile.css */


@import url(./style.css);

/* hedaer */ 


header { 
    width: 100%;
    height: 100px;
    /* outline: 1px solid tan; */
}

header nav { 
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav a { 
    font-size: 24px;
    /* outline: 1px solid red; */
    padding: 10px 40px;
}

header nav a:hover { 
    outline: 1px solid #fff;
    border-radius: 50%;
    padding: 10px 20px;
}


.logoImg {
    display: none;
}



.mainText h1 { 
    font-family: 'Inter';
    font-weight: 400;
    font-size: 60px;
}

.mainText h2 { 
    font-weight: 400;
    font-size: 30px;

}

#intro { 
    width: 100%;
    height:calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* outline: 1px solid tan; */
  
}

#intro .mainText { 
    text-align: center;
}

#intro .arrowImg { 
    width: 50%;
    text-align: center;
}

#intro .arrowImg img { 
    width: 50%;
}





/* main  */

.col { 
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col a { 
    position: relative;
}


.col .mainimg { 
    width: 100%;
    object-fit: contain;
    transition: all 0.5s;

    
}

.col .add { 
    /* display: none; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}



.col .colText  { 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* outline: 1px solid red; */
}


/* col btn */

.workBtn  { 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workBtn a { 
    width: 40%;
    border: 1px solid #fff;
    font-size: 18px;
    text-align: center;
    transition: all 1s;
    padding: 16px;
    border-radius: 50px;
}

.workBtn .aboutWork{
    margin-right: 20px;
}


.workBtn a:hover { 
    background: #fff;
    color: #000;
    font-weight: 600;
    letter-spacing: 10px;
    border-radius: 0;
    text-align: center;
    padding: 20px 20px 20px 30px;
}






.col .colText h3 { 
    font-weight: 400;
    font-size: 40px;
    padding-bottom: 10px;
}

.col .colText p { 
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-size: 20px;
}

.col:nth-child(1) .colText h3 { 
    font-family: 'HalisGR';
}

.col:nth-child(2) .colText h3 { 
    font-family: 'Emblema One', 'cursive';
}

.col:nth-child(3) .colText h3 { 
    font-family: 'Abril Fatface', 'cursive';
}

.col:nth-child(4) .colText h3 { 
    font-family: 'Montserrat', sans-serif;
}

.col:nth-child(5) .colText h3 { 
    font-family: 'Racing Sans One', 'cursive';
}

/* col hover */

.col a:hover .mainimg { 
    filter: brightness(60%);
}

.col a:hover .add{ 
    opacity: 1;
}











/* backtotop */


#back-to-top img { 
    width: 60%;
}

#back-to-top { 
    /* outline: 1px solid red; */
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1;
    opacity: 0.5;
    text-align: right;
}


#back-to-top:hover {
    opacity: 1;
  }

